

#loading{
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  background-color: white;
  z-index: 100;
}

.loaded #loading{
  display: none;
}

#biomarkers-label{
  display: block;
  font-weight: bold;
  text-align: center;
  padding: 0.2em;
}

#biomarkers-select{
  width:100%;
  display: block;
}

.select2-container {
  width: 100% !important;
}

.select2-selection__choice__display{
  padding: 0.5em !important
}



#main{
  display: grid;
  justify-content: center;
  align-content: center;

  grid-template-columns: repeat(1, 100%);
  grid-template-rows: auto;
  grid-template-areas:
      "inputs"
      "outputs";
    gap: 0.5em;
}


@media (min-width: 50em) {
  #main{
    grid-template-columns: repeat(1, 50em);
    grid-template-rows: auto;
    gap: 1em;
  }
}



@media (min-width: calc(3*30em + 5em)) {
  #main{
    grid-template-columns: repeat(3, 30em);
    grid-template-rows: auto;
    grid-template-areas:
      "inputs outputs outputs";
    gap: 1em;
  }
}

#inputs{
  grid-area: inputs;
}

#outputs{
  grid-area: outputs;
}

.result .additional-biomarkers, .result .missing-biomarkers{
  font-size: 0.8em;
  margin: 0.5em;

}
#common-biomarkers{
  padding: 0.5em;
  margin: 0.5em;
  color: #333;
  font-size: 0.8em;
}

.biomarker{
  display: inline-block;
  padding: 0.2em 0.5em;
  margin-bottom: 0.15em;
  border-radius: 0.2em;
  background-color: #ddd;
}

.result{
  background-color: #fafafa;
  padding: 0.5em;
  margin: 0.5em;
  border-radius: 0.2em;
  border: 1px solid #bbb;
}

.suggested_tests{
  border-collapse: collapse;
  width: 100%;
}

.suggested_tests td a{
  text-decoration: none;
}

.suggested_tests thead tr th:nth-child(1){
  min-width: 15em;
}

.suggested_tests thead tr th:nth-child(3){
  min-width: 4.5em;
}

.suggested_tests th, .suggested_tests td{
  padding: 0.3em 0.3em;
  text-align: right;
}

.not_venous_only{
  color: #aaa;
}

.suggested_tests .total-row{
  font-style: italic;
  border-top: 1px #aaa solid;
}

html{
  font-family: sans-serif;
}
